/* ============================================ *
 * Nav - Superfish (for device)
 * ============================================ */

@import "../includes";

@include bp(max-width, $bp-large) {
    .nav-container {
        position: relative !important;
    }
    .pseudoStickyBlock {
        display: none !important;
    }
    .sf-menu,
    .sf-menu-phone {
        display: none;
    }
    .sf-menu-block {
        display: block;
        position: relative;
    }
    .nav-container-mobile {
        display: block !important;
        clear: both;
        margin: 0;
    }
    .sf-menu-phone {
        background-color: $c-white;
        border-top: 0;
        position: absolute;
        z-index: 2;
        width: 100%;
        @include boxshadow(0px, 5px, 5px, rgba(0, 0, 0, 0.35));
        > li {
            border-bottom: 1px solid #e5e5e5;
            padding: 10px 20px;
            font-size: 14px;
            > strong {
                top: 9px;
                right: 18px;
                font-size: 20px;
                line-height: 20px;
            }
            &.last {
                border-bottom: 0;
            }
        }
        li {
            position: relative;
            text-transform: uppercase;
            a {
                display: inline-block;
                color: $c-text;
            }
            li {
                font-size: 13px;
                padding: 4px 8px;
                &.last {
                    padding-bottom: 10px;
                }
                &::first-child {
                    padding-top: 10px;
                    strong {
                        top: 10px;
                    }
                }
            }
            strong {
                position: absolute;
                display: block;
                top: 10px;
                right: 5px;
                width: 24px;
                font-size: 16px;
                line-height: 16px;
                text-align: center;
                color: $c-text;
                &::before {
                    @include fa-icon;
                    content: "\f105";
                }
                &.opened::before {
                    @include fa-icon;
                    content: "\f107";
                }
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
    .sf-menu-phone ul {
        width: auto;
        padding: 15px 0;
        display: none;
    }
    .sf-menu-phone > li.active > a > span {
        color: inherit;
    }
    .sf-menu-phone > li.active > a,
    .sf-menu-phone > li > a:hover,
    .sf-menu-phone li li.active > a,
    .sf-menu-phone li li a:hover {
        color: $c-gray;
    }
}