/* ============================================ *
 * Special Price Countdown
 * ============================================ */
#special_countdown {
  margin: 15px 0;
  color: #8b8b8b;
}
#special_countdown span {
  display: block;
  float: left;
  margin: 0 5px 0 9px;
  border: solid 1px #CCCCCC;
  text-align: center;
}
#special_countdown span.ww {
  margin-left: 0;
}
#special_countdown span strong {
  font-size: 24px;
  color: #000000;
  padding: 5px 12px;
}
#special_countdown span b {
  display: block;
  text-align: center;
  padding: 2px 7px 0 7px;
  font-weight: normal;
  font-size: 11px;
  text-transform: uppercase;
  border-top: solid 1px #CCCCCC;
  background-color: #F4F4F4;
}
#special_countdown i {
  font-style: normal;
  padding: 10px 0 0 5px;
  float: left;
  vertical-align: bottom;
}
#special_countdown::after {
  content: '';
  display: table;
  clear: both;
}
@media only screen and (max-width: 991px) {
  #special_countdown span {
    margin: 0 0 0 4px;
  }
  #special_countdown span strong {
    font-size: 18px;
    padding: 5px 8px;
  }
}
@media only screen and (max-width: 599px) {
  #special_countdown span strong {
    padding: 5px 5px;
  }
  #special_countdown span b {
    padding: 2px 5px 0 5px;
  }
}