<?xml version="1.0"?>
<config>

    <modules>
        <Yeboyebo_MultiplePrices>
            <version>1.0.0</version>
        </Yeboyebo_MultiplePrices>
    </modules>

    <global>

        <events>
		<checkout_cart_product_add_after>
		    <observers>
		        <setadiscountprice>
		            <class>Yeboyebo_MultiplePrices_Model_Observer</class>
		            <method>modifyPrice</method>
		        </setadiscountprice>
		    </observers>
		</checkout_cart_product_add_after>
    	</events>
		<blocks>
			<yeboyebo_multipleprices>
				<class>Yeboyebo_MultiplePrices_Block</class>
			</yeboyebo_multipleprices>
		</blocks>
    </global>

</config>
