.row2{
margin-left: 0px !important;
margin-right: 0px !important;
}
.breadcrumbs{
    display: none;
}
a 
{
    color:#000;
    cursor:pointer;
}
a:hover {
	color: grey;
	}

.button.button-secondary, .button, .cart-table .product-cart-actions .button, #co-shipping-method-form .buttons-set .button, .footer .button {
    background: #333;
    background-color: #333;
    text-decoration: none;
}
/**************** FOOTER ****************/
.footer-marte{
	color: black;
    font-weight: 300;
    line-height: 1.4;
    text-align:center; 
}     
.footer-marte a:hover {
    color: gray;
}
.footer-marte ul li {
	line-height: 30px;
}
 .footer-marte .subscribe-block .subscribe-wrapper .input-box #newsletter{
    width: 100%;
    padding: 15px;
    border-bottom: solid 1px black !important;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: #f8f8f8;   
    text-align: center;
    font-size: 18px;
}
.footer-marte .subscribe-block{
    border:none;
}
.footer-container{ 
    padding-top:25px;
}
.footer-marte .subscribe-block .subscribe-wrapper .subscribe-title{
    position: relative;
    left: 0;
    top: 0;
    text-transform: none;
}
.footer-marte .subscribe-block .subscribe-wrapper{
    padding: 0;
}
#footer-container-marte{
    width: 100%;
    float:right;   
    background-color: #f8f8f8;
}
@media only screen and (min-width: 769px){
    #help-me {
        text-align: left;
        padding-left: 40px;
    }
    #customer-footer{
        text-align: right;
        padding-right: 40px;
    }
}
.wrapper{background:none;}
/**************** FOOTER IMAGENES ****************/
.page {padding: 0;}
a #img_instagram{
    left:31px;
    width: 25px;
    height: 25px;
    background: url("/media/wysiwyg/instagram.png") 26px 0;
    margin-left: 25px;
    cursor: pointer;
}
a #img_instagram:hover {
    background: url("/media/wysiwyg/instagram.png") 0 -26px;
}
a #img_facebook{
    margin-left: 30px;
    height: 28px;
    width:28px;
    background: url("/media/wysiwyg/social_icons@2x.png") 0 0;
    cursor: pointer;
}
a #img_facebook:hover {
    background: url("/media/wysiwyg/social_icons@2x.png") 51px 0;
}
a #img_twitter{
    height: 28px;
    width:28px;
    background: url("/media/wysiwyg/social_icons@2x.png") 0 -48px;
    cursor: pointer;
}
a #img_twitter:hover {
    background: url("/media/wysiwyg/social_icons@2x.png") 51px -48px;
}
.iconos_footer{display: inline-flex;}
#subscribirse{
    display:none;
}
/**************** CABECERA MOVIL ****************/
@media only screen and (min-width: 768px) and (max-width: 991px){
    .count_t, .header-search, .header-minicart.desktop, .top-links{display: block;}
    .skip-cart .count, .skip-cart .label, .skip-cart .icon {display:none;}
    .header-minicart, .skip-link{border:none;font-size: 18px;top:25px;}
    .logo{top:10px;}
    .top-links{float:left;margin:0;}
    .top-links a:hover, .header-minicart a:hover, .skip-link.skip-active span,.skip-link:hover, .skip-link.skip-active, .header-minicart .skip-active, .header-minicart a span:hover {
        background:none;
    }
    .skip-link:hover, .skip-link.skip-active,.skip-link.skip-active span {
        color:#333;
    }
}
.skip-links .logo {display:none;}
.page-header-container{height: 70px;}
@media only screen and (max-width: 768px){
    #subscribirse{
        display:block;
    }
    .skip-container.mobile{
        background: none;
    }
    header.page-header .container .page-header-container{
        display: none;
    }
    header.page-header .header-row-background {
        display: none;
    }
    .skip-links{
        background-color: #ffffff;
        width: 100%;
        z-index: 9;
        margin-top: 5px;
        height: 65px;
    }
    #header-account {
        height: 92vh;
    }
    #header{height: 70px;}
    .skip-nav, #header-search, .skip-search{display: none;}
    #links-header a.skip-link {border:none;}
    .skip-links .logo{display: block;width: 60%;float: left;}
    .skip-link .icon {font-size: 33px;margin-top: 8px;color:black;}
    .skip-link .count {color:black;}
    .skip-link:hover, .skip-link.skip-active{background-color: #fff;color:black;}
    .skip-link.skip-active span, .skip-link:hover .label, .skip-link:hover .icon,.skip-link:hover .count{
        color: #000;
    }
    .footer .button span{z-index: 1;}
    .skip-cart {top:8px;}
    .mobile .container {padding-left: 5px;padding-right: 5px;};
}
.header-search{display: none;}
@media only screen and (max-width: 991px) and (min-width: 768px)
{
.skip-account{top:0;}
.logo{top:0;}
.skip-cart .count{display: inline;}
}
/********** LOGO EN WEB ************/
@media only screen and (min-width: 769px){
    .main_site_wrapper{width:95%;margin:0 auto;display: initial;float:none;}
    .main-menu{background: none;top:33px;text-align:right;font-size: 18px;}
    .logo{position: relative;left: 0;}
    .logo img {display: inline-block;}
    #header .container {z-index: 99;width: 100%;}
    #header {height: 70px;}
    .mobile{display: none;}
    .main-menu #header-nav{display: block;}
    .nav-primary li{display: inline-block;margin-right: 15px;}
    .cms-pages-marte li {display:inline-block;margin-right: 5px;}
}
.skip-cart .icon:before, .skip-cart .count, .top-links a.account-dropdown::before, #header-nav nav ul li a{
    color:black;
}
@media only screen and (min-width: 500px){
    .skip-link{width: 20%;}
    .skip-account .label{display: none;}
}
@media only screen and (min-width: 992px){
    .main-menu{width: 41.6%;}
    .header-minicart{margin:0;}
    .account-dropdown{display: none;}
    .cms-pages-marte li {display:inline-block;padding: 0 25px;}
    #header-right ul li{display: inline-flex;}
}
@media only screen and (min-width: 768px){
    #header-account2{
        left: calc(100% - 300px);
        top: 0px;
        height: 100vh;
        display: none;
        transform: translateY(0)!important;
        background: #fff;
    }
}
.youama-window-inside {padding-top: 50px;}
.youama-window-title h3{text-transform: none;font-weight: 500;}
.youama-window-title {margin-bottom: 40px;}
.youama-window-title2 h3{text-transform: none;font-weight: 500;}
.youama-window-title2 {margin-top: 40px;}
.youama-forgot-password {text-align: center;}
.yoauam-switch-window {background: #fff;color: #333; border: 1px solid #333;}
.yoauam-switch-window:hover {
    background: #333;
    color:#fff;
    border:1px solid #fff;
}
@media only screen and (max-width: 1072px){
    #header-right{float:right;}
    #header-right .menu-web {display:none;}
    #header-right div.header-minicart{display:inline;}
    .account-dropdown{display: inline;float:left;}
    .top-links .skip-content.skip-active{width:130px;}
    #header-cart{width: auto;}
}
.top-links a {color:black;font-size: 16px;text-transform: none;padding-left: 15px;}
.cms-pages-marte {font-size: 18px;text-transform: uppercase;float:left;top:33px;position: relative;}
.youama-window-inside input {
    border: none;
    border-bottom: 1px solid #333;
}
.youama-window-box .input-fly.input-firstname::before, .youama-window-box .input-fly.input-lastname::before,.youama-window-box .input-fly.input-email::before,
.youama-window-box .input-fly.input-password::before, .youama-window-box .input-fly.input-passwordsecond::before{
    display:none;
}
.youama-window-box .input-fly input[type="text"], .youama-window-box .input-fly input[type="password"] {
    padding-left: 0;
}
#header-account #mobile-menu li a, #header-account #mobile-menu3 li a {
    border-bottom: none;
}
#mobile-menu li {
    list-style: none;
    padding-bottom: 20px;
}
#mobile-menu li a, #mobile-menu3 li a {
    text-transform: none!important;
    color:#333!important;
}
#mobile-menu {
    font-size:28px;
    position: relative;
    float:left;
    top: 30%;
}
#mobile-menu2 {
    font-size:15px;
    position: relative;
    float:right;
    top: 30%;   
}
#mobile-menu2 li {
    -webkit-transform: rotate(90deg);   
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    padding-bottom: 50px;
    padding-right: 20px;
    color:#333;
}
#mobile-menu3 {
    font-size:15px;
    position: absolute;
    float:left;
    top: 85vh;   
}
#mobile-menu3 li {
    list-style: none;
    display: inline-block;
}
@media only screen and (max-width: 479px){
    #header-account2.abs {
        position: absolute;
        top: 5px;
        min-height: 98vh;
        width: 98vw;
        left:1%;
    }
}
#overlay.active {opacity: 0.7;}
#overlay {background: #fff;}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #333;
}
::-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #333;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #333;
   opacity:  1;
}
::-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #333;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #333;
}

/***ESTILO FICHA DE PRODUCTO***/

/**SLIDER IMAGEN**/
#flechas-up  {
    position: absolute;
    top: 45%;
    width: 25px;
    height: 25px;
    background: url("/media/wysiwyg/flechas-up.png") 26px 0;
    cursor: pointer;
    background-color: white;    
    }
#flechas-up:hover {
    background: url("/media/wysiwyg/flechas-up.png") 0 -26px;
}
#flechas-down  {
    position: absolute;
    top: 50%;
    width: 25px;
    height: 25px;
    background: url("/media/wysiwyg/flechas-down.png") 26px 0;
    cursor: pointer;
    background-color: white;
}
#flechas-down:hover {
    background: url("/media/wysiwyg/flechas-down.png") 0 -26px;
}
/**IMAGEN PRODUCTO**/
.product-image-gallery{
    width: 100%;
    height: 70vh;
}  
  
img .product-image-gallery {
    height: 100%;
}  

/**ICONOS DE LAS PROPIEDADES DE LA PRENDA**/
.iconos_producto {
	display: inline-flex;
}

#add-cart-style :hover {
	background: #cfcfcf;
	border: 1px solid #333;
	transition: 0s;
	-webkit-transition: 0s;
}

#add-cart-style button :hover {
	background: #cfcfcf;
	color: #333;
	border: 0px solid #333;
	transition: 0s;
	-webkit-transition: 0s;
	font-weight: normal;
}

#add-cart-style button span {
	text-transform: none;
	font-size: 18px;
	letter-spacing: 2px;
	font-weight: normal;
	width: 100%;
}



.product-view .add-to-cart-buttons .button:hover {
    background: #f5f5f5;
    color: #333;
}

.product-view .add-to-cart-buttons .button{
    background: #000000;
}

#style-precio div span {
    color: #000000;
    font-size: 18px;
    bottom: 10%;
}

#h1-producto {
	margin-top: 35%;
	font-weight: normal;
	text-transform: none;
	font-size: 26px;
	color: #000000;
	letter-spacing: 2px;
}

.style-texto-producto {
	color: #000000;
	padding-top: 5%;
	padding-bottom: 4%;
	letter-spacing: 1px;
	font-size: 16px;
	line-height:  30px;
}
.style-texto-producto p {
    font-weight: bold;
}

#style-prop {
	text-align: center;
	color: black;
	font-size: 14px;

}

/**ESTILO **/
#style-wishlist a:hover{
	text-align: center;
	color: grey;
}
#style-wishlist {
	text-align: center;
	font-size: 24px;
}

#style-wishlist a {
	border-right: none!important;
	
}

/**ESTILO DEL VIDEO**/
#style-video {
	padding: 0 0;
}

#style-video img{
	width: 100%;
}


#style-img {
    margin-bottom: 0!important;
}

#style-inf-prod {
 
    margin-top: 5%;
}



   .row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}
@media only screen and (max-width: 768px){
       .row-eq-height {
            display: block;
           }
        }

.tab {
    padding: 0 100px;
}


/***ESTILO TITULO CAMBIA TU LOOK***/

#style-cambia-look {
	padding-top: 4%;
}

#style-nombre-look:hover{
	font-weight: bolder;
	color: grey;
}
#style-nombre-look {
    font-weight: bolder;
    text-align: center;
    width: 100%;
    display: block;
}

#style-ver-producto:hover{
	color: grey;
}
#style-ver-producto {
    text-decoration: underline;
    margin: 0 auto;
    display: block;
    width: 120px;
}

#img-contacto img{
	width: 100%;
}

/***ESTILO HOJA DE CONTACTO***/
#h2-contacto {
	font-weight: normal;
	text-transform: none;
	font-size: 26px;
	color: #000000;
	letter-spacing: 2px;
}

.style-campos {
	color: gray!important;
	text-transform: none!important;
	padding-top: 25px;
}

.input-box input{
	width: 100%!important;
	/*border-top: none!important;
	border-left: none!important;
	border-right: none!important;*/
	border: none!important;
	border-bottom: 1px solid gray!important;
	padding: 0!important;

}

.input-box textarea{
	width: 100%!important;
	/*border-top: none!important;
	border-left: none!important;
	border-right: none!important;*/
	border: none!important;
	border-bottom: 1px solid gray!important;
	height: 100px!important;

}

#submit-style {
	background-color: black;
	width: 100%;
	text-transform: none;
	font-size: 24px;
	letter-spacing: 2px;
	font-weight: normal;
}

#submit-style:hover {
	background: #fff;
	color: #333;
	border: 1px solid #333;
	transition: 0s;
	-webkit-transition: 0s;
	width: 100%;
}

.img-contacto div img{
	width: 100%;
	padding-bottom: 5px;
}

.input-text {
	color: black;
	font-size: 20px;
}

.style-texto label {
	font-size: 20px;
}

#imagen1-contacto {
	position: relative;
}
.imagen2-contacto {
	position: absolute;
	bottom: 60%;
	left: 15%;
}
#bloque {
	margin-top:10%;
	margin-bottom:10%;

}

/***ESTILO "ESTE CAMPO ES OBLIGATORIO"***/
.validation-advice {
    /* color: #eb340a; */
    position: absolute!important;
    /* z-index: 139; */
    bottom: 6px!important;
    background: none!important; 
    /* padding: 0 3px; */
    border: none!important; 
    /* border-radius: 3px; */
    font-size: 20px!important;
    top: 0!important;
}

.validation-advice:before {
    content: none!important;
}    

/******/

@media only screen and (max-width: 768px){
	.estado {
		display: none;
	}
	.categories li {
		display: inline;
	}
	.categories {
		margin-bottom: 15px;
	}
}

/** Catalogo */
.product-details{
	display: block !important;
}
.products-grid .item:hover .item_wrap{
	position: initial;
	padding: 0;
	margin: 0;
	border:none;
	box-shadow: none;
}
.product-image{
	background: #e8e7e5;
}
.product-name {
	text-align: center;;
}
.price-box span {
    text-align: center;
    width: 100%;
    display: block;
}
.regular-price .price, .price-box .special-price .price, .tallas span{
	color:#000;
	font-size: 1em;
}
.product-details h3{
    font-size: 1em;
    text-align: center;
}
#wishlist {
    position: absolute;
    top: 0;
    right: 0;
}
.link-compare:hover, .link-wishlist:hover {
    color: grey;
}
.item_wrap:hover #wishlist{
	z-index: 100;
}
.link-compare::before, .link-wishlist::before {
    font-size: 28px;
    padding: 10px;
}
.tallas {
	font-weight: 300;
    text-align: center;
    display: none;
}
.item_wrap:hover .tallas {
	display: block;
}
.item_wrap:hover .price-box{
	display: none;
}
.price-box p{
	display: inline !important;
}
.out-of-stock { display: inline; }
.out-of-stock span, .out-of-stock:hover span, .out-of-stock span::before{
	color: red !important;
	background: #fff !important;
	text-align: center !important;
	opacity: 1 !important;
	font-size: 1em !important;
}
.categories a{
	font-size: 16px;
	text-transform: uppercase;
}
.categories li {
	padding: 10px;
}

/* Ficha de producto*/
#product-info{
	position: fixed;
    bottom: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
    z-index: 1000;
    background-color: #f3f3f3;
    transition: background-color 0.5s ease-in-out;
    width: 100%;
    /*border: solid 2px #000;*/
}

#product-options-wrapper{
	width: 150px;
    border: none;
    padding:0 !important;
    position: relative;
    top: 0;
    left: 15%;
}
#product-options-wrapper select{
	border:none;
	background: none;
	color:#000;
}
#product-info .product-options .required {display: none;}
.product-name span {
	width: 100%;
	display: block;
}
#add-cart-style{
	float: right;
	display: block;
}
#add-cart-style button{
	display: block;
    width: 273px;
    padding-top: 14px;
    padding-bottom: 14px;
    font-size: 15px;
    letter-spacing: .5px;
    text-align: center;
    background-color: black;
    color: white;
    cursor: pointer
}


.product-options-bottom {
    padding: 0;
    border-top: 0;
    margin: 0px;
    height: 20px;
    float: right;
    margin-top: -40px;

}
.tallas-productos {
	float: right;
    width: 100%;
    display: block;
    padding: 15px;
}
}
.add-to-links {
	font-size: 14px !important;
	margin: 0 !important;
}
.std img {
	width:100%;
}
.std{
	text-align: justify;
}

/*ESTILO EXTENSION POLITICA DE COOKIES*/
#v-cookielaw{
	position: fixed;
    z-index: 5;
    background-color: white;
    bottom: 10px;
    left: 10px;
    height: 190px;
    width: 330px;
    padding: 5px 15px 15px 15px;
}
/*FIN ESTILO EXTENSION POLITICA DE COOKIES*/
/* Mi Cuenta*/
.dashboard .page-title h1:before, .dashboard .page-title h2:before{
	color:#dfdfdf;
}
body.customer-account .my-account .welcome-msg p.hello{
	color:#777777;
}
.theme-block, body.customer-account .my-account .box, body.customer-account .my-account #form-validate .fieldset, .dashboard #my_recent_tags, .dashboard #my_recent_reviews{
	border-top: solid 1px #dfdfdf;
}
.box-title h3, .box-title h2{
	color: #000 !important;
}
.box-title h3:before, .box-title h2:before{
	color:#dfdfdf !important;
	border: 1px solid #dfdfdf !important;
}
.theme-border, .table-bordered, body.customer-account .data-table {
    border-top: solid 1px #dfdfdf;
}

@media only screen and (max-width: 1199px){
body.customer-account .data-table tbody tr.first {
    border-top: solid 1px #dfdfdf;
}
}

/*FIN Mi Cuenta*/

/* Bolsa*/
.header-minicart .block-subtitle {
	color:#000 !important;
	text-align: center;
}
#cart-sidebar .product-image{
	background: #fff;
}
.truncated a.details, .header-minicart .minicart-actions .checkout-button, .header-minicart .minicart-actions .cart-link{
	background-color: #000;
	color: #fff;
}
.truncated a.details:hover, .header-minicart .minicart-actions .checkout-button:hover, .header-minicart .minicart-actions .cart-link:hover{
	background-color: #949393;
	color: #fff !important;
}
.top-links .skip-content.skip-active li a{
	color:#fff;
}
.header-minicart .subtotal .price {
    color: #909090;
 }
 .header-minicart .block-subtitle .close{
 	color:#000;
 }
 .header-minicart .block-subtitle .close:hover{
 	color: #949393;
 }
/* Fin Bolsa*/