a 
{
    color:#000;
    cursor:pointer;
}
/**************** FOOTER ****************/
.footer-marte{
	color: black;
    font-weight: 300;
    line-height: 1.4;
    text-align:center; 
}     
.footer-marte a:hover {
    color: gray;
}
.footer-marte ul li {
	line-height: 30px;
}
 .footer-marte .subscribe-block .subscribe-wrapper .input-box #newsletter{
    width: 100%;
    padding: 15px;
    border-bottom: solid 1px black !important;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: #f8f8f8;   
    text-align: center;
    font-size: 18px;
}
.footer-marte .subscribe-block{
    border:none;
}
.footer-container{ 
    padding-top:25px;
}
.footer-marte .subscribe-block .subscribe-wrapper .subscribe-title{
    position: relative;
    left: 0;
    top: 0;
    text-transform: none;
}
.footer-marte .subscribe-block .subscribe-wrapper{
    padding: 0;
}
#footer-container-marte{
    width: 100%;
    float:right;   
    background-color: #f8f8f8;
}
@media only screen and (min-width: 769px){
    #help-me {
        text-align: left;
        padding-left: 40px;
    }
    #customer-footer{
        text-align: right;
        padding-right: 40px;
    }
}
.wrapper{background:none;}
/**************** FOOTER IMAGENES ****************/
.page {padding: 0;}
a #img_instagram{
    left:31px;
    width: 25px;
    height: 25px;
    background: url("/media/wysiwyg/instagram.png") 26px 0;
    margin-left: 25px;
    cursor: pointer;
}
a #img_instagram:hover {
    background: url("/media/wysiwyg/instagram.png") 0 -26px;
}
a #img_facebook{
    margin-left: 30px;
    height: 28px;
    width:28px;
    background: url("/media/wysiwyg/social_icons@2x.png") 0 0;
    cursor: pointer;
}
a #img_facebook:hover {
    background: url("/media/wysiwyg/social_icons@2x.png") 51px 0;
}
a #img_twitter{
    height: 28px;
    width:28px;
    background: url("/media/wysiwyg/social_icons@2x.png") 0 -48px;
    cursor: pointer;
}
a #img_twitter:hover {
    background: url("/media/wysiwyg/social_icons@2x.png") 51px -48px;
}
.iconos_footer{display: inline-flex;}
#subscribirse{
    display:none;
}
/**************** CABECERA MOVIL ****************/
@media only screen and (min-width: 768px) and (max-width: 991px){
    .count_t, .header-search, .header-minicart.desktop, .top-links{display: block;}
    .skip-cart .count, .skip-cart .label, .skip-cart .icon {display:none;}
    .header-minicart, .skip-link{border:none;font-size: 18px;top:25px;}
    .logo{top:10px;}
    .top-links{float:left;margin:0;}
    .top-links a:hover, .header-minicart a:hover, .skip-link.skip-active span,.skip-link:hover, .skip-link.skip-active, .header-minicart .skip-active, .header-minicart a span:hover {
        background:none;
    }
}
.skip-links .logo {display:none;}
.page-header-container{height: 70px;}
@media only screen and (max-width: 768px){
    #subscribirse{
        display:block;
    }
    .skip-container.mobile{
        background: none;
    }
    header.page-header .container .page-header-container{
        display: none;
    }
    header.page-header .header-row-background {
        display: none;
    }
    .skip-links{
        background-color: #ffffff;
        width: 100%;
        z-index: 9;
        margin-top: 5px;
        height: 65px;
    }

    #header{height: 70px;}
    .skip-nav, #header-search, .skip-search{display: none;}
    #links-header a.skip-link {border:none;}
    .skip-links .logo{display: block;width: 60%;float: left;}
    .skip-link .icon {font-size: 33px;margin-top: 8px;color:black;}
    .skip-link .count {color:black;}
    .skip-link:hover, .skip-link.skip-active{background-color: #fff;color:black;}
    .skip-link.skip-active span, .skip-link:hover .label, .skip-link:hover .icon,.skip-link:hover .count{
        color: #000;
    }
    .footer .button span{z-index: 1;}
    .skip-cart {top:8px;}
    .mobile .container {padding-left: 5px;padding-right: 5px;};
}
.header-search{display: none;}
@media only screen and (max-width: 991px) and (min-width: 768px)
{
.skip-account{top:0;}
.logo{top:0;}
.skip-cart .count{display: inline;}
}
/********** LOGO EN WEB ************/
@media only screen and (min-width: 769px){
    .main_site_wrapper{width:95%;margin:0 auto;display: initial;float:none;}
    .main-menu{background: none;top:33px;text-align:right;font-size: 18px;}
    .logo{position: relative;left: 0;}
    .logo img {display: inline-block;}
    #header .container {z-index: 99;width: 100%;}
    #header {height: 70px;}
    .mobile{display: none;}
    .main-menu #header-nav{display: block;}
    .nav-primary li{display: inline-block;margin-right: 15px;}
    .cms-pages-marte li {display:inline-block;margin-right: 5px;}
}
.skip-cart .icon:before, .skip-cart .count, .top-links a.account-dropdown::before, #header-nav nav ul li a{
    color:black;
}
@media only screen and (min-width: 500px){
    .skip-link{width: 20%;}
    .skip-account .label{display: none;}
}
@media only screen and (min-width: 992px){
    .main-menu{width: 41.6%;}
    .header-minicart{margin:0;}
    .account-dropdown{display: none;}
    .cms-pages-marte li {display:inline-block;padding: 0 25px;}
}

@media only screen and (max-width: 1072px){
    #header-right{float:right;}
    #header-right .menu-web {display:none;}
    #header-right div.header-minicart{display:inline;}
    .account-dropdown{display: inline;float:left;}
    .top-links .skip-content.skip-active{width:130px;}
}
.top-links a {color:black;font-size: 16px;text-transform: none;padding-left: 15px;}
.cms-pages-marte {font-size: 18px;text-transform: uppercase;float:left;top:33px;position: relative;}
