#wk_rma_new_request{
    background: #3399cc;
    border-bottom: 5px solid #4b4b4b;
    margin-bottom: 20px;
    text-align: center;
}
#wk_rma_new_request a{
    color: #FFFFFF;
    display: block;
    font-size: 15pt;
    font-weight: bold;
    padding: 5px;
}
.wk_rma_table_title{
    display: inline-block;
    width: 90%;
}
.wk_rma_asc{
    background: url("../../../../../adminhtml/default/default/images/grid_sort_asc.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: inline-block;
    height: 11px;
    width: 5px;
}
.wk_rma_desc{
    background: url("../../../../../adminhtml/default/default/images/grid_sort_desc.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: inline-block;
    height: 11px;
    width: 5px;
}
#rma-table .wk_rma_sorter th:hover{
    background: none repeat scroll 0 0 #ebebeb;
    border-color: #c6b7b7;
    border-style: solid;
    border-width: 1px;
    box-shadow: 1px 1px 10px 4px #d6cfcf inset;
}
#rma-table .wk_rma_sorter th{
    cursor: pointer;
}
#rma-table th.wk_rma_selected{
    background: none repeat scroll 0 0 #ebebeb;
    border-color: #c6b7b7;
    border-style: solid;
    border-width: 1px;
    box-shadow: 1px 1px 10px 4px #d6cfcf inset;
}
#wk_rma_orders th.wk_rma_sortable:hover{
    background: none repeat scroll 0 0 #ebebeb;
    border-color: #c6b7b7;
    border-style: solid;
    border-width: 1px;
    box-shadow: 1px 1px 10px 4px #d6cfcf inset;
}
#wk_rma_orders th.wk_rma_sortable{
    cursor: pointer;
}
#wk_rma_orders th.wk_rma_selected{
    background: none repeat scroll 0 0 #ebebeb;
    border-color: #c6b7b7;
    border-style: solid;
    border-width: 1px;
    box-shadow: 1px 1px 10px 4px #d6cfcf inset;
}
.filter_input{
    height: 25px !important;
    width: 100% !important;
}
#wk_rma_orders th{
    border: 1px solid #f4f4f4;
    padding: 3px;
}
#wk_rma_orders .wk_rma_filter th{
    background: #dbdde3;
}
#rma-table th{
    border: 1px solid #f4f4f4;
    padding: 3px;
}
#rma-table .wk_rma_filter th{
    background: #dbdde3;
}
#related_images{
    display: none;
}
#wk_rma_upload_icon{
    background: url("../images/sprite.png") no-repeat scroll 0 0 transparent;
    display: inline-block;
    height: 26px;
    margin-right: 10px;
    vertical-align: sub;
    width: 26px;
}
#wk_rma_upload_text{
    float: right;
    position: relative;
    top: 5px;
}
#wk_rma_label_image{
    background-color: #006DCC;
    background-image: linear-gradient(to bottom, #0088CC, #0044CC);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 14px;
    padding: 4px 12px;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    vertical-align: middle;
    display: inline-block;
}
#wk_rma_label_image:hover{
    background-position: 0 -15px;
    background-color: #0044CC;
    transition: background-position 0.1s linear 0s;
}
#wk_rma_agreement_cntnt{
    border: 1px solid #e8e8e8;
    height: 200px;
    margin-bottom: 5px;
    overflow-y: auto;
    padding: 3px 15px;
}
.wk_rma_checkall{
    line-height: 12px;
    margin-right: 10px;
    vertical-align: middle;
}
#wk_rma_additional_info{
    resize:none;
    width: 100%;
    height: 130px;
}
#save_rma_form{
    clear: both;
}
.wk_rma_bg{
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.29);
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}
.wk_rma_loader{
    background: url("../images/spinner.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 57px;
    position: relative;
    top: 50%;
    width: 57px;
}
#wk_rma_order_details .return_item{
    height: 30px;
    width: 85%;
}
#wk_rma_order_details .item_reason{
    height: 30px;
    margin: 0;
    width: 85%;
}
.wk_rma_image_container .wk_rma_image{
    height: 100%;
    width: 100%;
}
.wk_rma_image_container .wk_rma_image_cover{
    border: 2px solid #e2e2e2;
    display: inline-block;
    height: 75px;
    margin: 3px;
    width: 75px;
}
.wk_rma_status_processing{
    color: #DCA000;
}
.wk_rma_status_pending{
    color: #EB5E00;
}
.wk_rma_status_cancel,.wk_rma_status_decline{
    color: #FF0000;
}
.wk_rma_status_solve{
    color: #028900;
}
.box-content1 {
    float: left;
    width: 100%;
}
.wk_barcode_images {
    float: right;
}
.box-head {
    clear: both;
}
.wk_rma_add_images{
    border: 2px solid #e2e2e2;
    box-shadow: 0 0 4px 2px;
    display: inline-block;
    height: 75px;
    margin: 2px;
    width: 75px;
}
#wk_rma_image_loader{
    display: none;
    position: relative;
    top: 4px;
    width: 18px;
}
.wk_rma_label{
    float: left;
}
.wk_rma_print_actions{
    text-align: right;
}
#wk_rma_depends_del_status{
    display: none;
}
#wk_rma_images{
    display: none;
}
.wk_rma_images_holder{
    margin: 15px 0;
}
.wk_rma_bigbox{
    margin-bottom: 20px !important;
    padding: 0 !important;
}
#wk_rma_conversation_container{
    margin-top: 15px;
}
.wk_rma_clear{
    clear: both;
}
.wk_rma_onereply{
    box-shadow: 2px 2px 5px;
    clear: both;
    margin: 10px 0;
}
.wk_rma_onereply_head{
    background: #96c986;
    display: block;
    padding: 10px;
}
.wk_rma_onereply_head_left{
    font-size: 10pt;
    font-weight: bold;
}
.wk_rma_onereply_head_right{
    color: #888888;
    float: right;
    font-size: 11pt;
    font-weight: bold;
}
.wk_rma_onereply_cntnt{
    background: #DFE8E6;
    font-family: tahoma;
    line-height: 25px;
    padding: 10px;
}
.wk_rma_onereply_customer{
    background: #B9CDF8 !important;
}
.wk_rma_label{
    float: left;
}
#wk_rma_depends_del_status{
    display: none;
}
#wk_rma_images{
    display: none;
}
.wk_rma_images_holder{
    margin: 15px 0;
}
.wk_rma_bigbox{
    margin-bottom: 20px !important;
    padding: 0 !important;
}
#wk_rma_conversation_container{
    margin-top: 15px;
}
.wk_rma_clear{
    clear: both;
}
.wk_rma_onereply{
    box-shadow: 2px 2px 5px;
    clear: both;
    margin: 10px 0;
}
.wk_rma_onereply_head{
    background: #96c986;
    display: block;
    padding: 10px;
}
.wk_rma_onereply_head_left{
    font-size: 10pt;
    font-weight: bold;
}
.wk_rma_onereply_head_right{
    color: #888888;
    float: right;
    font-size: 11pt;
    font-weight: bold;
}
.wk_rma_onereply_cntnt{
    background: #DFE8E6;
    font-family: tahoma;
    line-height: 25px;
    padding: 10px;
}
.wk_rma_onereply_customer{
    background: #B9CDF8 !important;
}
.col{
    display: inline-block;
    height: 100%;
    vertical-align: top;
    width: 49%;
}
.wk_rma_status_processing{
    color: #DCA000;
}
.wk_rma_status_pending{
    color: #EB5E00;
}
.wk_rma_status_cancel,.wk_rma_status_decline{
    color: #FF0000;
}
.wk_rma_status_solve{
    color: #028900;
}
.wk_rma_add_images{
    border: 2px solid #e2e2e2;
    box-shadow: 0 0 4px 2px;
    display: inline-block;
    height: 75px;
    margin: 2px;
    width: 75px;
}
table{
    border-spacing: 0;
    width: 100%;
}
.data-table thead th, .data-table tbody td {
    border-bottom: 1px solid silver;
}
.data-table th {
    background: none repeat scroll 0 0 #f4f4f4;
    font-family: "Raleway","Helvetica Neue",Verdana,Arial,sans-serif;
    line-height: 1.4;
    text-transform: uppercase;
    white-space: nowrap;
}
.data-table td, .data-table th {
    padding: 10px;
    vertical-align: top;
}
th, code, cite, caption {
    font-style: normal;
    font-weight: normal;
    text-align: left;
}

.shipping_label_img:hover{
    opacity: .5;
}
.shipping_label{
    box-shadow: 0 0 7px 1px #6f5656;
    left: 43px;
    position: absolute;
    top: 45px;
}
.shipping_label_each{
    border: 2px solid #9c9696;
    display: inline-block;
    height: 100px;
    padding: 2px;
    position: relative;
    width: 100px;
}
.shipping_label_img{
    cursor: pointer;
    height: 100%;
    vertical-align: top;
    width: 100%;
}
.wk_rma_logout_btn{
    float: right;
    font-size: 15px;
    margin-right: 10px;
    text-transform: none;
}