<?xml version="1.0"?>
<config>
    <modules>
        <TemplateMonster_SocialLogin>
            <version>0.1.0</version>
        </TemplateMonster_SocialLogin>
    </modules>
    <global>
        <models>
            <sociallogin>
                <class>TemplateMonster_SocialLogin_Model</class>
                <resourceModel>sociallogin_resource</resourceModel>
            </sociallogin>
            <sociallogin_resource>
                <class>TemplateMonster_SocialLogin_Model_Resource</class>
                <entities>
                    <provider>
                        <table>tm_sociallogin_provider</table>
                    </provider>
                </entities>
            </sociallogin_resource>
        </models>
        <blocks>
            <sociallogin>
                <class>TemplateMonster_SocialLogin_Block</class>
            </sociallogin>
        </blocks>
        <helpers>
            <sociallogin>
                <class>TemplateMonster_SocialLogin_Helper</class>
            </sociallogin>
        </helpers>
        <resources>
            <sociallogin_setup>
                <setup>
                    <module>TemplateMonster_SocialLogin</module>
                </setup>
            </sociallogin_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <sociallogin>
                <use>standard</use>
                <args>
                    <module>TemplateMonster_SocialLogin</module>
                    <frontName>sociallogin</frontName>
                </args>
            </sociallogin>
        </routers>
        <layout>
            <updates>
                <sociallogin module="TemplateMonster_SocialLogin">
                    <file>sociallogin.xml</file>
                </sociallogin>
            </updates>
        </layout>
    </frontend>
    <default>
        <sociallogin>
            <facebook_service>
                <sort_order>10</sort_order>
            </facebook_service>
            <google_service>
                <sort_order>20</sort_order>
            </google_service>
            <providers>
                <facebook>sociallogin/provider_service_facebook</facebook>
                <google>sociallogin/provider_service_google</google>
            </providers>
        </sociallogin>
    </default>
</config>