<?xml version="1.0"?>
<config>
    <modules>
        <Ontic_SpecialPriceTime>
            <version>0.1.0</version>
        </Ontic_SpecialPriceTime>
    </modules>
    <global>
        <models>
            <ontic_specialpricetime>
                <class>Ontic_SpecialPriceTime_Model</class>
            </ontic_specialpricetime>
            <catalog>
                <rewrite>
                    <product_attribute_backend_startdate_specialprice>Ontic_SpecialPriceTime_Model_Catalog_Product_Attribute_Backend_Startdate_Specialprice</product_attribute_backend_startdate_specialprice>
                    <product_attribute_backend_startdate>Ontic_SpecialPriceTime_Model_Catalog_Product_Attribute_Backend_Startdate</product_attribute_backend_startdate>
                    <product_attribute_backend_finishdate>Ontic_SpecialPriceTime_Model_Catalog_Product_Attribute_Backend_Finishdate</product_attribute_backend_finishdate>
                </rewrite>
            </catalog>
            <eav>
                <rewrite>
                    <entity_attribute_backend_datetime>Ontic_SpecialPriceTime_Model_Eav_Entity_Attribute_Backend_Datetime</entity_attribute_backend_datetime>
                </rewrite>
            </eav>
            <core>
                <rewrite>
                    <locale>Ontic_SpecialPriceTime_Model_Core_Locale</locale>
                </rewrite>
            </core>
        </models>
        <helpers>
            <ontic_specialpricetime>
                <class>Ontic_SpecialPriceTime_Helper</class>
            </ontic_specialpricetime>
            <storepricing>
                <rewrite>
                    <catalog_product_price_indexer>Ontic_SpecialPriceTime_Helper_StorePricing_Catalog_Product_Price_Indexer</catalog_product_price_indexer>
                </rewrite>
            </storepricing>
        </helpers>
        <resources>
            <ontic_specialpricetime_setup>
                <setup>
                    <module>Ontic_SpecialPriceTime</module>
                </setup>
            </ontic_specialpricetime_setup>
        </resources>
    </global>
</config>